<br/>
<div class="jumbotron">
  <h1>KnockOff</h1>
  <p>KnockOff allows you to create a self-destructing to-do list.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Saves valuable time.</h2>
    <p>KnockOff will deliver long life.</p>
  </div>
  <div class="col-md-4">
    <h2>Gives you more time with loved ones.</h2>
    <p>KnockOff provides a few extra precious moments with family and friends by creating efficiency in your day to day schedule.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you smarter!</h2>
    <p>KnockOff will make you a genius, for reeeelz: it's scientifically proven. </p>
  </div>
</div>
